body{
    background-color:#3298FF;
    font-size: 20px;
	color: white;
}
header{
    text-align:center;
    padding:40px;
}
.box{
    text-align:center
}
.btn{
    font-size: 30px;
    margin:40px auto;
    display: block;
    background-color:#3298FF;
    padding: 10px 30px 0 30px;
}
.btn a{
	color: white;	
}